.tabs-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  background-color: var(--on-dominant);
  width: 100%;
  max-height: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.tabs-count {
  font-size: 30px;
  font-weight: 700;
  color: var(--secondary);
}
.tabs-count.active {
  color: var(--accent);
}

.tabs {
  border-top-left-radius: 8px;
  overflow: hidden;
  border-top-right-radius: 8px;
  min-height: 105px;

  display: flex;
  overflow: hidden;
  border: 1px solid var(--outline);
}
.tab {
  overflow: hidden;
  width: 200px;
  max-width: 200px;
  text-align: start;
  font-size: 14px;
  align-items: start;
  justify-content: start;
  padding: 8px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 4px;

  font-weight: 400;
  flex: 1;
  padding: 10px;
  background: var(--on-dominant);
  border: none;
  cursor: pointer;
  color: var(--unselected); /* Use your unselected text color variable */
  transition: backgrounsd 0.3s, color 0.3s;

  font-size: 16px;
  font-weight: 500;
}
.tab.active {
  border-bottom: 5px solid var(--secondary); /* Use your accent color variable */
  font-weight: bold;
  color: var(--secondary);

  font-weight: 500;
  background: var(--on-dominant);
}
.tab-content {
  border-left: 1px solid var(--outline);
  border-right: 1px solid var(--outline);
  border-bottom: 1px solid var(--outline);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0px;

  height: 100%;
  background: var(
    --on-dominant
  ); /* Use your dominant background color variable */
}

@media (max-width: 400px) {
  .tabs-container {
    flex-direction: column;
  }

  .tabs {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  .tab {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid var(--outline);
  }

  .tab:last-child {
    border-bottom: none;
  }

  .tab.active {
    border-bottom: 1px solid var(--outline);
    border-left: 5px solid var(--secondary);
  }
}
