.locations-card {
  padding: 0px;
  border: 1px solid var(--outline);

  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  height: 70vh;
 

  width: 100%;
  min-width: 100%;
  justify-content: flex-start;
  background-color: var(--on-dominant);
  flex-direction: row;
  gap: 0;
  z-index: 0;
}

.locations-card .globe-container {
  padding: 0px;
}

.locations-card .globe-container .globe-image {
  padding: 0px;
}

@media (max-width: 768px) {
  .locations-card {
    flex-direction: column;
    border: "1px solid var(--outline)";
    border-radius: 10px;
  }

  .locations-card .globe-container {
    width: 100%;
    height: 300px;
  }

  .locations-tabs-container {
    width: 100%;
  }
}
