.metrics-container {
  display: flex;
  width: 100%;

  flex-direction: column;
  gap: 10px;
}

.metrics-container-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--dominant);

  align-self: center;
  justify-self: center;
  width: 80%;
}

.metrics-container-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.metrics-container-item-2 {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 10px;
}


@media (max-width: 600px) {
  .metrics-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .metrics-container-wrapper {
    max-width: 100%;
    width: 100%;
  }
  .metrics-container-item {
    display: flex;
    flex-direction: column;
  }

  .metrics-container-item-2 {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
